<nav class="navbar navbar-expand-lg custom-navbar shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-primary" style="pointer-events: none; cursor: default;">My Finances</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active fw-bold text-highlight"
            >Gastos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/graphs"
            routerLinkActive="active fw-bold text-highlight"
            >Gráficos</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-danger fw-semibold" routerLink="/login">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <h2 class="text-primary mb-4">Gráficos de Gastos</h2>

  <!-- Gráficos de dos en dos -->
  <div class="row g-4">
    <!-- Gráfico Semanal -->
    <div class="col-md-6">
      <div class="chart-container">
        <h5 class="text-secondary">Semanal</h5>
        <canvas id="weeklyChart"></canvas>
      </div>
    </div>

    <!-- Gráfico Mensual -->
    <div class="col-md-6">
      <div class="chart-container">
        <h5 class="text-secondary">Mensual</h5>
        <canvas id="monthlyChart"></canvas>
      </div>
    </div>

    <!-- Gráfico Anual -->
    <div class="col-md-6">
      <div class="chart-container">
        <h5 class="text-secondary">Anual</h5>
        <canvas id="yearlyChart"></canvas>
      </div>
    </div>

    <!-- Gráfico Total -->
    <div class="col-md-6">
      <div class="chart-container">
        <h5 class="text-secondary">Total</h5>
        <canvas id="totalChart"></canvas>
      </div>
    </div>
  </div>
</div>

